<h2><%= @goal.body %></h2>
<p>Created by: <%= @goal.user.username %></p>

<h3>Comments</h3>
<ul>
<% @comments.each do |comment| %>
<li><%= comment.body %></li>
<% end %>
</ul>

<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="comment[commentable_type]" value="Goal">
  <%= auth_token_input %>
  <input type="hidden" name="comment[commentable_id]" value="<%= @goal.id %>">

  <label for="comment_body">Comment</label>
  <textarea name="comment[body]" id="comment_body"></textarea>
  <button>Add Comment</button>
</form>
